body{

    background: linear-gradient(135deg, #0f172a, #1e293b);

    min-height: 100vh;

    display: flex;

    justify-content: center;
    align-items: center;

    flex-direction: column;

    font-family: Arial, Helvetica, sans-serif;
}

.formulario{

    width: 350px;

    background-color: white;

    padding: 40px;

    border-radius: 20px;

    display: flex;

    flex-direction: column;

    gap: 20px;

    box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}

.formulario h1{

    text-align: center;

    color: #0f172a;

    margin-bottom: 10px;
}

.formulario input{

    padding: 14px;

    border: 1px solid #cbd5e1;

    border-radius: 12px;

    font-size: 16px;

    outline: none;

    transition: 0.3s;
}

.formulario input:focus{

    border-color: #2563eb;

    box-shadow: 0 0 10px rgba(37,99,235,0.3);
}

.formulario button{

    padding: 14px;

    border: none;

    border-radius: 12px;

    background: linear-gradient(90deg, #2563eb, #3b82f6);

    color: white;

    font-size: 17px;

    font-weight: bold;

    cursor: pointer;

    transition: 0.3s;
}

.formulario button:hover{

    transform: scale(1.03);

    opacity: 0.9;
}

a{

    margin-top: 20px;

    color: white;

    text-decoration: none;

    font-size: 16px;

    transition: 0.3s;
}

a:hover{

    color: #60a5fa;
}