.resposta{

    width: 400px;

    margin: 120px auto;

    background-color: white;

    padding: 40px;

    border-radius: 20px;

    text-align: center;

    display: flex;

    flex-direction: column;

    gap: 20px;

    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

.resposta h1{

    color: #0f172a;
}

.resposta a{

    text-decoration: none;

    background-color: #2563eb;

    color: white;

    padding: 12px;

    border-radius: 10px;

    font-weight: bold;
}