<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Resposta</title>

    <link rel="stylesheet" href="resposta.css">
</head>
<body>

    <div class="resposta">

        <h1><%= mensagem %></h1>

        <a href="/">Voltar</a>

    </div>

</body>
</html>